.header {
  flex-shrink: 0;
  width: 320px;
  @include border(right);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  &__main {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 10;
    background: $background-main;
    transition: box-shadow 0.2s;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    padding: 24px 36px;
    height: 100vh;
    width: 320px;
  }

  &__expand {
    display: none;
    justify-content: flex-end;
    padding-right: 6px;

    & .ham {
      &:hover .line {
        stroke: $text;
      }
    }
  }

  &__close {
    display: none;
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 26px;
    cursor: pointer;
    transition: color .2s;
  }

  &__logo {
    margin-bottom: 36px;
    min-height: 1px;

    &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    &-img {
      width: 120%;
    }
  }

  &__main-menu {
    margin-bottom: 48px;
    padding: 24px 0;
  }

  &__contacts {
    margin-top: auto;
  }
}

.main-menu {
  position: relative;

  &__item {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:before {
      content: '';
      position: absolute;
      width: 24px;
      height: 3px;
      top: 50%;
      margin-top: -1.5px;
      left: -60px;
      background-color: $brand;
      z-index: 10;
      transition: left 0.3s;
    }

    &:after {
      content: '';
      position: absolute;
      width: 24px;
      height: 3px;
      top: 50%;
      margin-top: -1.5px;
      left: -42px;
      background-color: $dull;
      z-index: 9;
      transition: left 0.3s;
    }

    &:hover .main-menu__item-text {
      color: $brand;
    }

    &:hover .main-menu__item-icon {
      color: $brand;
    }

    &:hover:before {
      left: -42px;
    }

    &_active {
      & .main-menu__item-text {
        color: $brand;
      }

      & .main-menu__item-icon {
        color: $brand;
      }

      &:before {
        left: -42px;
      }
    }

    &-link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 0;
      width: 100%;
    }

    &-text {
      font-size: 17px;
      text-transform: uppercase;
      transition: color 0.3s;
    }

    &-icon {
      display: flex;
      align-items: center;
      font-size: 20px;
      transition: color 0.3s;
    }
  }

  &__cart-count {
    position: absolute;
    top: 4px;
    right: -10px;
    height: 18px;
    width: 18px;
    border-radius: 18px;
    background-color: $brand;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;

    &.hidden {
      display: none;
    }

    &-text {
      color: $background-main;
    }
  }
}

.products-menu {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  background: $background-main;
  overflow-y: auto;
  transition: left 0.3s;

  &_visible {
    left: 320px;

    & + .header__main {
      box-shadow: 1px 0 8px 1px $dull;
    }
  }

  &__close-btn {
    display: none;
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 26px;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: $brand;
    }
  }

  &__title {
    display: none;
    padding: 36px 36px 0;
  }

  &__list {
    width: 100%;
    padding: 24px 12px;
    height: auto;
  }

  &__item {
    @include border(bottom);
    padding: 0;
    margin: 0;

    &-wrapper {
      display: flex;
      align-items: center;
      padding: 0 6px;
    }

    &-expand {
      padding: 6px;
      cursor: pointer;
      border-radius: 50%;
      transition: background-color 0.2s;

      & .expand-icon {
        transform: rotate(90deg);
        transition: transform 0.2s, color 0.2s;
        font-size: 18px;
      }

      &:hover {
        background-color: $brand-light;
      }

      &.active {
        color: $background-main;
        background-color: $brand;

        & .expand-icon {
          transform: rotate(-90deg);
        }
      }
    }

    &-text {
      cursor: pointer;
      font-size: 17px;
      transition: color 0.3s;
      position: relative;
      display: block;
      padding: 12px;
      padding-left: 6px;
      font-size: 18px;
      margin-left: 6px;

      &:hover {
        color: $brand;
      }
    }
  }

  &-sub {
    transition: opacity 0.3s, transform 0.3s;
    background: $background-main;
    z-index: 1;
    display: none;
    padding: 12px 14px;
    @include border(left, 1px, $brand);
    margin: 0 0 12px 19px;

    &__item {
      margin: 6px 0;

      &-wrapper {
        display: flex;
        align-items: center;
      }

      &-expand {
        display: block;
        padding: 6px;
        @include border();
        border-radius: 50%;
        cursor: pointer;
        transform: rotate(90deg);
        transition: transform 0.2s, color 0.2s, border-color 0.2s;

        &:hover {
          border-color: $brand-light;
        }

        &.active {
          color: $brand;
          border-color: $brand;
          transform: rotate(-90deg);
        }
      }

      &-text {
        display: block;
        font-size: 16px;
        padding: 6px;
        margin-left: 6px;
        flex-grow: 1;
        transition: color 0.2s;

        &:hover {
          color: $brand;
        }
      }
    }
  }

  &-sub2 {
    display: none;
    margin: 12px;
    padding-left: 12px;
    @include border(left, 1px, $brand-light);

    &__item {
      padding: 6px;

      &:hover .products-menu-sub2__item-text {
        color: $brand;
      }

      &-text {
        display: block;
        transition: color 0.2s;
      }
    }
  }
}

.header-contacts {
  &__item {
    margin-bottom: 8px;
  }

  &__link {
    font-size: 1.1rem;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }
}

.contacts-messager {
  &__link {
    display: inline-block;
    margin: 0 6px;

    &:hover .contacts-messager__icon_telegram {
      color: $telegram;
    }
    &:hover .contacts-messager__icon_whatsapp {
      color: $whatsapp;
    }
    &:hover .contacts-messager__icon_viber {
      color: $viber;
    }
  }

  &__icon {
    font-size: 1.75rem;
    transition: color 0.2s;
  }
}

.header-m {
  display: none;
  position: fixed;
  width: 100%;
  background: $background-main;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  z-index: 1;
  box-shadow: 0 0 12px $dull;
  overflow: hidden;

  &__item {
    width: 33.33%;
    display: flex;

    &_left {
      height: 100%;
      justify-content: flex-start;
    }

    &_center {
      justify-content: center;
    }

    &_right {
      height: 100%;
      justify-content: flex-end;
    }
  }

  &__ham {
    height: 48px;
  }

  &__logo {
    display: flex;
    justify-content: center;
    padding: 12px;
    align-self: flex-start;
    height: 112px;
    margin-top: -33px;
    
    &-img {
      height: 100%;
    }
  }
}

.menu-background {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
}
