.lds-ripple {
  display: none;
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: 10;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -150px;
}
.lds-ripple div {
  position: absolute;
  border: 6px solid $brand;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 150px;
    left: 150px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
