@import '../smart-grid';

.product-list {
  @include row-flex();
  justify-content: center;
  @include md(justify-content, space-evenly);
  
  &__description {
    padding: 24px;
    @include border(top);
  }
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 408px;
  @include col();
  @include size(12);
  @include size-sm(6);
  @include size-md(6);
  @include size-lg(3);
  min-width: 240px;
  max-width: 288px;
  margin-bottom: 48px;

  &__main {
    position: relative;
    z-index: 1;
    padding: 24px 24px 12px 24px;
    height: 100%;
    background-color: $background-main;
    @include box-shadow();
    border-radius: 4px;
  }

  &__picture {
    height: 180px;
    text-align: center;

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
  }

  &__title {
    padding: 12px 0 24px;

    &-text {
      font-size: 16px;
      transition: color 0.3s;

      &:hover {
        color: $brand;
      }
    }
  }

  &__options {
    margin-top: 12px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    margin-top: auto;
    @include border(top, 1px, $brand-light);
  }

  &__price {
    &-text {
      display: flex;
      align-items: center;
      font-size: 20px;
      line-height: 24px;
      margin: 3px 0;

      &_secondary {
        font-size: 16px;
      }
    }
  }

  &__currency-icon {
    font-size: 20px;
    width: 24px;
    display: flex;
    justify-content: center;
    margin-right: 6px;

    &_primary {
      font-size: 24px;
    }
  }

  &__cart {
    position: relative;
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 54px;
    background: $brand;
    @include border('all', 1px, $brand);
    cursor: pointer;
    transition: background-color 0.2s;

    &-icon {
      font-size: 24px;
      color: $background-secondary;
      margin-left: -2px;
      transition: color 0.2s;
    }

    &:hover {
      background-color: $brand-light;
    }

    &:hover .product-card__cart-icon {
      color: $brand;
    }
  }

  &__info {
    position: absolute;
    left: 1px;
    bottom: 0;
    width: calc(100% - 2px);
    max-height: 100%;
    padding: 24px 24px 12px;
    background-color: $background-main;
    border-radius: 0 0 4px 4px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s;
    box-shadow: 0px 1px 4px 0 $dull;
    z-index: 0;

    & ul {
      margin-left: 12px;

      & > li {
        margin-bottom: 3px;
      }
    }
  }

  &:hover .product-card__info {
    transform: translateY(calc(100% - 12px));
    // box-shadow: 0px 1px 12px 0 $dull;
  }
}
