.product-page {
  display: flex;
  flex-direction: column;
  padding: 24px 0;

  &__info {
    display: flex;
    flex-direction: column;
    width: fit-content;
    @include border();
    background: $background-main;
    border-radius: 6px;
    padding: 24px 36px 36px;
  }

  &__header {
    &-title {
      font-size: 2.125rem;
      margin-bottom: 0;
    }

    &-desc {
      font-size: 1.25rem;
      margin-bottom: 0;
      color: $text-light;
    }
  }

  &__main {
    display: flex;
  }

  &__picture {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    padding: 24px 24px 0 0;
    width: 396px;
    height: 348px;
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
  }

  &__params {
    display: flex;
    justify-content: space-evenly;
  }

  &__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 24px;

    &-input {
      display: none;

      &:checked + .product-page__options-label {
        color: $brand;

        &:before {
          background-color: $brand-light;
        }

        &:after {
          display: block;
        }
      }
    }

    &-label {
      position: relative;
      margin-bottom: 12px;
      padding-left: 36px;
      font-size: 1.125rem;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -12px;
        width: 24px;
        height: 24px;
        background: $dull;
        border-radius: 24px;
      }

      &:after {
        content: '';
        position: absolute;
        display: none;
        left: 5px;
        top: 50%;
        margin-top: -7px;
        width: 14px;
        height: 14px;
        background: $background-main;
        border-radius: 14px;
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 0 0 48px;
  }

  &__price {
    margin-bottom: 48px;
  
    &-text {
      display: flex;
      align-items: center;
      font-size: 2.0625rem;
      line-height: 24px;
      margin: 6px 0;

      &_secondary {
        font-size: 1.125rem;
      }
    }
  }

  &__currency-icon {
    font-size: 1.5rem;
    width: 36px;
    display: flex;
    justify-content: center;
    margin-right: 12px;

    &_primary {
      font-size: 2.375rem;
    }
  }

  &__qty {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    &-input {
      @include border();
      border-radius: 3px;
      width: 60px;
      height: 36px;
      padding: 12px;
      font-size: 1.25rem;
      text-align: center;
    }

    &-btn {
      padding: 6px;
      font-size: 1.25rem;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        color: $brand;
      }
    }
  }

  &__cart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__add-btn {
    position: relative;
    height: 48px;
    width: 144px;
    font-size: 1.25rem;
    color: $background-main;
    border-radius: 3px;
    @include button-hover();
  }

  &__add-count {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: -12px;
    right: -12px;
    width: 32px;
    height: 32px;
    @include border('all', 1px, $brand);
    border-radius: 32px;
    color: $brand;
    background: $background-main;

    &.visible {
      display: flex;
    }
  }

  &__tabs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 48px 0 24px;
    @include border(bottom);

    &-input {
      display: none;

      &:checked + .product-page__tabs-label {
        color: $brand;

        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 4px;
          left: 0;
          bottom: 0;
          background: $brand;
          opacity: 1;
        }
      }
    }

    &-label {
      position: relative;
      padding: 12px 24px;
      font-size: 1.25rem;
      margin-right: 12px;
      cursor: pointer;

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: 0;
        background: $brand-light;
        border-radius: 2px;
        opacity: 0;
        transition: opacity 0.2s;
      }

      &:hover:before {
        opacity: 1;
      }
    }

    &-content {
      display: none;

      &_active {
        display: block;
      }
    }
  }
}