.product-page {
  display: flex;
  align-items: flex-start;

  &__info {
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width: 600px;
    flex-shrink: 0;
    @include border(left);
    @include border(bottom);
    @include border(right);
    background: $background-main;
    border-radius: 0 0 3px 3px;
    padding: 24px 36px;
    margin: 0 48px 48px 0;
  }

  &__header {
    &-title {
      font-size: 34px;
      margin-bottom: 0;
    }

    &-desc {
      font-size: 20px;
      margin-bottom: 0;
      color: $text-light;
    }
  }

  &__picture {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    height: 400px;
  }

  &__img {
    max-width: 100%;
  }

  &__params {
    display: flex;
    justify-content: space-evenly;
  }

  &__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 24px;

    &-input {
      display: none;

      &:checked + .product-page__options-label {
        color: $brand;

        &:before {
          background-color: $brand-light;
        }

        &:after {
          display: block;
        }
      }
    }

    &-label {
      position: relative;
      margin-bottom: 12px;
      padding-left: 36px;
      font-size: 18px;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -12px;
        width: 24px;
        height: 24px;
        background: $dull;
        border-radius: 24px;
      }

      &:after {
        content: '';
        position: absolute;
        display: none;
        left: 5px;
        top: 50%;
        margin-top: -7px;
        width: 14px;
        height: 14px;
        background: $background-main;
        border-radius: 14px;
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    margin-bottom: 24px;
  
    &-text {
      display: flex;
      align-items: center;
      font-size: 29px;
      line-height: 24px;
      margin: 6px 0;

      &_secondary {
        font-size: 18px;
      }
    }
  }

  &__currency-icon {
    font-size: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    margin-right: 12px;

    &_primary {
      font-size: 34px;
    }
  }

  &__qty {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    &-input {
      @include border();
      border-radius: 3px;
      width: 60px;
      height: 36px;
      padding: 12px;
      font-size: 20px;
      text-align: center;
    }

    &-btn {
      padding: 6px;
      font-size: 20px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        color: $brand;
      }
    }
  }

  &__cart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__add-btn {
    position: relative;
    height: 48px;
    width: 144px;
    font-size: 20px;
    color: $background-main;
    border-radius: 3px;
    @include button-hover();
  }

  &__add-count {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: -12px;
    right: -12px;
    width: 32px;
    height: 32px;
    @include border('all', 1px, $brand);
    border-radius: 32px;
    color: $brand;
    background: $background-main;

    &_visible {
      display: flex;
    }
  }

  &__tabs {
    display: flex;
    margin-bottom: 24px;

    &-input {
      display: none;

      &:checked + .text-block__tabs-label {
        transform: translateY(0);
        background-color: $brand;
        color: $background-main;
      }
    }

    &-label {
      @include border(left, 1px, $brand);
      @include border(right, 1px, $brand);
      @include border(bottom, 1px, $brand);
      padding: 15px 24px 12px;
      font-size: 17px;
      border-radius: 0 0 3px 3px;
      margin-right: 6px;
      transform: translateY(-3px);
      cursor: pointer;
      transition: transform 0.2s;

      &:hover {
        transform: translateY(0);
      }
    }

    &-content {
      display: none;

      &_active {
        display: block;
      }
    }
  }
}