.text-block {
  &__tabs {
    display: flex;
    margin-bottom: 24px;

    &-input {
      display: none;

      &:checked + .text-block__tabs-label {
        transform: translateY(0);
        background-color: $brand;
        color: $background-main;
      }
    }

    &-label {
      @include border(left, 1px, $brand);
      @include border(right, 1px, $brand);
      @include border(bottom, 1px, $brand);
      padding: 15px 24px 12px;
      font-size: 17px;
      border-radius: 0 0 3px 3px;
      margin-right: 6px;
      transform: translateY(-3px);
      cursor: pointer;
      transition: transform 0.2s;

      &:hover {
        transform: translateY(0);
      }
    }
  }

  & h1 {
    font-size: 27px;
    margin-bottom: 16px;
  }
  
  & h2 {
    font-size: 24px;
    margin: 24px 0 12px;
  }
  
  & p {
    font-size: 16px;
    margin-bottom: 12px;
    line-height: 1.6;
  }

  & ul {
    margin-left: 24px;

    & > li {
      position: relative;
      margin-bottom: 12px;
      font-size: 16px;

      &:before {
        content: '';
        position: absolute;
        display: block;
        left: -22px;
        top: 11px;
        width: 10px;
        height: 3px;
        border-radius: 3px;
        background: $brand;
      }
    }
  }
}