@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url('../fonts/#{$file-path}.ttf') format('truetype');
  }
}

@mixin border($side: all, $thickness: 1px, $color: $dull) {
  @if $side == all {
    border: $thickness solid $color;
  } @else if $side == left {
    border-left: $thickness solid $color;
  } @else if $side == right {
    border-right: $thickness solid $color;
  } @else if $side == bottom {
    border-bottom: $thickness solid $color;
  } @else if $side == top {
    border-top: $thickness solid $color;
  }
}

@mixin box-shadow($color: $dull, $hover: 'true') {
  box-shadow: 0px 1px 4px 0 $color;
  @if $hover != 'no-hover' {
    transition: box-shadow 0.3s;
     &:hover {
      box-shadow: 0px 1px 12px 0 $color;
    }
  }
}

@mixin button-hover() {
  background-color: $brand;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: $brand-hover;
  }
}
