@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url('../fonts/#{$file-path}.ttf') format('truetype');
  }
}

@mixin border($side: all, $thickness: 1px) {
  @if $side == all {
    border: $thickness solid $dull;
  } @else if $side == left {
    border-left: $thickness solid $dull;
  } @else if $side == right {
    border-right: $thickness solid $dull;
  } @else if $side == bottom {
    border-bottom: $thickness solid $dull;
  } @else if $side == top {
    border-top: $thickness solid $dull;
  }
}
