$brand: #33a1cd;
$brand-hover: #45b7e4;
$brand-light: #a1dcf3;
$dull: #dbe4e4;
$text: #162e45;
$text-light: #8894a1;
$border-main: #e5e5e5;
$accent: #f2c59d;
$background-main: #ffffff;
$background-secondary: #fdfdfd;
$whatsapp: #4AA81F;
$viber: #784F99;
$telegram: #2BA0DA;

$header-width-big: 320px;
$header-width-small: 96px;
