@import './vars';

* {
  & h1 {
    font-size: 1.6875rem;
    margin-bottom: 16px;
  }
  
  & h2 {
    font-size: 1.5rem;
    margin: 36px 0 12px;
  }

  & h3 {
    font-size: 1.3rem;
    margin: 36px 0 0;
  }

  & h4 {
    font-size: 1.15rem;
    margin: 24px 0 0;
  }
  
  & p {
    font-size: 1rem;
    margin-bottom: 12px;
    line-height: 1.6;
  }

  & ul {
    margin-left: 24px;

    & > li {
      position: relative;
      margin-bottom: 12px;
      font-size: 1rem;

      &:before {
        content: '';
        position: absolute;
        display: block;
        left: -22px;
        top: 11px;
        width: 10px;
        height: 3px;
        border-radius: 3px;
        background: $brand;
      }
    }
  }
}