@import './colors';
@import './mixins';
@import './reset';
@import './fonts';

@import './components/header';
@import './components/slider';
@import './components/products';

.body {
  font-family: NotoSans;
  color: $text;
  font-size: 14px;
}

.general-container {
  height: fit-content;
  background: $background-main;
  display: flex;
  overflow-x: hidden;
}

.main {
  flex-grow: 1;
  background: $background-secondary;
  padding: 48px;
}

.section-title {
  padding: 48px 24px 12px;
  margin-bottom: 48px;
  font-size: 26px;
  @include border(bottom, 1px, $brand);
}
