@import './vars';
@import './mixins';
@import './reset';
@import './fonts';

@import './components/text-block';

@import './components/header';
@import './components/footer';
@import './components/slider';
@import './components/products';
@import './components/checkout';
@import './components/contacts';
@import './components/news';
@import './components/category';
@import './components/select';
@import './components/loader';
@import './components/breadcrumbs';

@import './components/product-page';

@import './svg';
@import './mediaQueries';

html {
  font-size: 16px;
}

.body {
  font-family: OpenSans;
  color: $text;
  font-size: 14px;
}

.general-container {
  position: relative;
  height: fit-content;
  background: $background-main;
  display: flex;
  overflow-x: hidden;
}

.content-container {
  padding: 0 48px;
}

.main {
  flex-grow: 1;
  background: $background-secondary;
  padding-left: 320px;
  min-height: 100vh;
  width: 100%;
  float: left;
}

.section-title {
  padding: 24px 24px 12px;
  margin-bottom: 24px;
  font-size: 1.625rem;
  @include border(bottom, 1px, $brand);
}

.iconed-title {
  display: flex;
  align-items: center;
  padding-bottom: 12px;

  &__icon {
    font-size: 60px;
    padding-right: 24px;
  }
}

.text-link {
  text-decoration: underline;
  color: $brand;
  transition: color 0.2s;

  &:hover {
    color: $brand-hover;
  }
}

.tags {
  &__item {
    display: inline-block;
    margin: 0 6px 6px 0;

    &-text {
      display: block;
      color: $text-light;
      border-radius: 4px;
      @include border('all', 1px, $text-light);
      padding: 2px 12px;
      font-size: 0.825rem;

      &_link {
        transition: border-color 0.2s, color 0.2s;

        &:hover {
          border-color: $brand;
          color: $brand;
        }
      }
    }
  }
}
