@media screen and (max-height: 730px) {
  .header {
    &__logo {
      margin-bottom: 0;

      &-img {
        width: 68%;
      }
    }

    &__main-menu {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 1799px) {
  .cart-item {
    &__name {
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 1439px) {
  .product-page {
    &__info {
      width: 100%;
    }

    &__header {
      text-align: center;
    }

    &__params {
      justify-content: center;
    }

    &__main {
      flex-direction: column;
    }

    &__picture {
      flex-shrink: 1;
    }

    &__options {
      padding-right: 0;
    }

    &__actions {
      flex-direction: row;
      align-items: center;
    }

    &__price {
      margin-bottom: 0;
      width: 240px;
    }

    &__qty {
      margin-bottom: 12px;
    }
  }

  .checkout-page {
    flex-direction: column;
    justify-content: flex-start;
  }

  .cart {
    width: 100%;
  }
  
  .cart-item {
    min-height: 156px;

    &__name {
      font-size: 1.8vw;
    }
  }

  .checkout {
    align-self: center;
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 1023px) {
  .main {
    padding-left: 96px;
    transition: padding 0.3s;
  }
  .header {
    top: 0;
    left: -224px;
    transition: left 0.3s;
    overflow: hidden;

    &_expanded {
      left: 0;

      & .header__logo-img {
        width: 60% !important;
        top: 24px;
        right: 108px;
      }

      & .main-menu__item-text {
        margin-left: 0;
      }
    }

    &__inner {
      padding: 12px;
    }

    &__expand {
      display: flex;
    }

    &__logo {
      margin-bottom: 0;

      &-link {
        justify-content: flex-end;
      }
      &-img {
        position: absolute;
        top: 84px;
        right: 12px;
        width: 72px !important;
        transition: 0.3s;
      }
    }
  }

  .main-menu {
    margin-top: 108px;

    &__item {
      &-text {
        margin-left: -48px;
        transition: margin 0.2s;
      }

      &-icon {
        padding: 0 27px;
      }
    }

    &__cart-count {
      right: 16px;
    }
  }

  .products-menu {
    left: 320px;
    z-index: 11;

    &_visible {
      left: 0;
    }

    &__title {
      display: block;
    }

    &__close-btn {
      display: block;
    }

    &-sub {
      &__item {
        &-text {
          display: none;

          &_not-link {
            display: block;
          }
        }
      }
    }
  }

  .cart-item {
    min-height: 156px;

    &__name {
      font-size: 2.3vw;
    }
  }

  .files-item {
    &__main {
      flex-direction: column;
    }

    &__text {
      padding: 24px 0;
    }
  }

  .footer {
    padding-left: 96px;
  }

  .footer-info {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }

  .content-container {
    padding: 0;

    &_padding {
      padding: 0 24px;
    }
  }

  .news-block {
    &__item {
      padding: 0 0 24px;
    }

    &__show-all-link {
      padding: 0;
    }
  }

  .news-item {
    position: relative;

    &__content {
      margin: 0;
    }

    &__picture {
      position: absolute;
      left: 0;
      top: 0;
      width: 84px;
    }

    &__title {
      margin: 0;
      height: 96px;
      padding-left: 96px;
    }
  }

  .product-page {
    padding: 0;
    
    &__info {
      border-right: none;
      border-top: none;
      border-left: none;
      border-radius: 0;
      padding: 24px;
    }

    &__picture {
      padding: 24px 0;
      width: 100%;
      height: 300px;
    }

    &__content {
      padding: 24px;
    }

    &__params {
      flex-direction: column;
      align-items: center;
    }

    &__options {
      flex-direction: row;
      flex-wrap: wrap;

      &-input {
        &:checked + .product-page__options-label {
          border-color: $brand;

          &:after {
            display: none;
          }
        }
      }

      &-label {
        padding: 0;
        white-space: nowrap;
        display: flex;
        align-items: center;
        margin: 0 12px 12px;
        @include border();
        border-radius: 3px;
        padding: 0 12px;
        height: 36px;

        &:before {
          display: none;
        }
      }
    }

    &__actions {
      padding: 24px 0 0;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__price {
      width: auto;
      margin: 24px 24px 0;
    }

    &__cart {
      margin: 24px 24px 0;
    }

    &__tabs {
      margin: 0;
    }
  }

  .cart-item {
    padding: 0 12px;
    margin-bottom: 6px;
    min-height: 144px;

    &__picture {
      min-width: 132px;
    }

    &__name {
      font-size: 1.125rem;
      padding: 0 12px;
    }
  }

  .cart-qty {
    flex-direction: column-reverse;
    padding: 0;
    border: none;

    &__input {
      width: 36px;
      border: none;
      @include border();
      border-radius: 4px;
      font-size: 18px;
      padding: 6px 0;
      margin: 0 6px;
    }

    &__btn {
      justify-content: center;
    }
  }

  .checkout {
    max-width: inherit;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }

  .footer {
    &__inner {
      flex-direction: column;
    }
  }

  .footer-submenu {
    display: none;
  }

  .footer-info {
    display: flex;
    justify-content: space-between;
    border-left: none;
    @include border(top);
    padding-right: 24px;

    &__logo {
      flex-shrink: 0;
      align-items: center;
    }
  }
}

@media screen and (max-width: 530px) {
  .footer-info {
    flex-direction: column;
    align-items: center;
  }

  .footer-menu {
    &__item {
      margin-right: 0;

      &-link {
        text-align: center;
      }
    }
  }

  .files-item {
    &__main {
      align-items: center;;
    }

    &__bottom {
      flex-direction: column-reverse;
    }

    &__links {
      justify-content: center;
      margin-top: 24px;

      &-item {
        margin-right: 12px;
        margin-left: 12px;
      }
    }

    &__tags {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &-item {
        margin-left: 6px;
      }
    }
  }
}

@media screen and (max-width: 424px) {
  .general-container {
    flex-direction: column;
    padding-top: 48px;
  }

  .main-menu {
    margin: 0;
  }

  .header-m {
    display: flex;
  }

  .header {
    left: -320px;

    &_expanded {
      left: 0;

      & .header__logo-img {
        width: 50% !important;
      }
    }

    &__expand {
      display: none;
    }

    &__close {
      display: block;
    }

    &__logo {
      &-link {
        justify-content: center;
      }

      &-img {
        position: static;
        width: 50% !important;
      }
    }
  }

  .header-contacts {
    &__item {
      text-align: center;
    }
  }

  .main {
    padding: 0;
  }

  .cart-item {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    @include border(bottom);
    margin: 12px;
    padding: 0;

    &:last-child {
      border-bottom: none;
    }

    &__section {
      justify-content: center;
    }

    &__name {
      order: 2;
    }

    &__qty {
      order: 1;
    }

    &__delete {
      order: 3;
    }
  }

  .cart-qty {
    flex-direction: row;
  }

  .footer {
    padding-left: 0;
  }
}
