<h2 class="section-title">О компании</h2>
<section class="text-block about">
  <h1>Интернет-магазин Арсмед</h1>
  <h2>Добро пожаловать в наш интернет-магазин!</h2>
  <p>
    На нашем сайте Вашему вниманию представлены инструменты и материалы для хирургической
стоматологии и имплантологии, пародонтологии, челюстно-лицевой хирургии, пластической и
реконструктивной хирургии, нейрохирургии и травматологии.
  </p>
  <p>
    Нашими партнерами являются лучшие производители как импортных, так и российских товаров.
Безупречное качество продукции этих производителей зарекомендовало себя и имеет успешный
долголетний клинический опыт в разных странах мира. Вся предлагаемая нами продукция имеет
разрешающие документы в соответствии с действующим Законодательством РФ.
  </p>
  <p>
    Наличие собственной курьерской службы позволяет доставлять товары по Санкт-Петербургу и
Ленинградской области в день заказа или на следующий день. Доставка в регионы РФ
осуществляется различными службами экспресс-доставки (СДЭК, Major-Express, Курьер Сервис
Экспресс, Деловые линии и др.)
  </p>
  <p>
    Для постоянных клиентов действует гибкая система скидок, отсрочки по платежам и приятные
бонусы!
  </p>
  <p>
    Также мы участвует в Государственных закупках на поставку медицинского оборудования,
расходных материалов и инструментов. Предлагаем выгодные условия и цены, соблюдая все
пожелания заказчиков.
  </p>
  <p>
    Ждём Вас за покупками каждый день. Мы всегда к Вашим услугам!
  </p>
</section>