<header class="header">
  <div class="header__logo">
    <a class="header__logo-link" href="/">
      <img class="header__logo-img" src="./images/logo_shop.png" alt="ArsMed logo">
    </a>
  </div>
  <nav class="header__products-menu products-menu">
    <!-- <div class="products-menu__helper"></div> -->
      <ul class="products-menu__list">
        <li class="products-menu__item">
          <a href="#" class="products-menu__link">Дентальные имплантаты</a>
        </li>
        <li class="products-menu__item">
          <a href="#" class="products-menu__link">Стоматологические материалы</a>
          <ul class="products-menu-sub">
            <li class="products-menu-sub__item">
              <a href="#" class="products-menu-sub__link">Item 1</a>
              <ul class="products-menu-sub2">
                <li class="products-menu-sub2__item">
                  <a href="#" class="products-menu-sub2__link">SubItem 1</a>
                </li>
                <li class="products-menu-sub2__item">
                  <a href="#" class="products-menu-sub2__link">SubItem 2</a>
                </li>
                <li class="products-menu-sub2__item">
                  <a href="#" class="products-menu-sub2__link">SubItem 3</a>
                </li>
              </ul>
            </li>
            <li class="products-menu-sub__item">
              <a href="#" class="products-menu-sub__link">Item 2</a>
            </li>
            <li class="products-menu-sub__item">
              <a href="#" class="products-menu-sub__link">Item 3</a>
            </li>
            <li class="products-menu-sub__item">
              <a href="#" class="products-menu-sub__link">Item 4</a>
            </li>
          </ul>
        </li>
        <li class="products-menu__item">
          <a href="#" class="products-menu__link">Расходные материалы</a>
          <ul class="products-menu-sub">
            <li class="products-menu-sub__item">
              <a href="#" class="products-menu-sub__link">Item 2</a>
              <ul class="products-menu-sub2">
                <li class="products-menu-sub2__item">
                  <a href="#" class="products-menu-sub2__link">SubItem 1</a>
                </li>
                <li class="products-menu-sub2__item">
                  <a href="#" class="products-menu-sub2__link">SubItem 2</a>
                </li>
                <li class="products-menu-sub2__item">
                  <a href="#" class="products-menu-sub2__link">SubItem 3</a>
                </li>
              </ul>
            </li>
            <li class="products-menu-sub__item">
              <a href="#" class="products-menu-sub__link">Item 2</a>
            </li>
            <li class="products-menu-sub__item">
              <a href="#" class="products-menu-sub__link">Item 3</a>
            </li>
            <li class="products-menu-sub__item">
              <a href="#" class="products-menu-sub__link">Item 4</a>
            </li>
          </ul>
        </li>
        <li class="products-menu__item">
          <a href="#" class="products-menu__link">Всё для имплантологии</a>
        </li>
      </ul>
  </nav>

  <nav class="header__main-menu main-menu">
    <ul class="main-menu__list">
      <li class="main-menu__item">
        <a href="#" class="main-menu__link">Оформить заказ</a>
      </li>
      <li class="main-menu__item">
        <a href="#" class="main-menu__link">Доставка</a>
      </li>
      <li class="main-menu__item">
        <a href="#" class="main-menu__link">Контакты</a>
      </li>
    </ul>
  </nav>

  <div class="header__contacts header-contacts">
    <ul class="header-contacts__list">
      <li class="header-contacts__item">
        <a class="header-contacts__link" href="tel:+78129297079">+7 (812) 929-70-79</a>
      </li>
      <li class="header-contacts__item">
        <a class="header-contacts__link" href="tel:+78129297079">+7 (812) 929-70-79</a>
      </li>
      <li class="header-contacts__item">
        <a class="header-contacts__link" href="tel:+79214433377">+7 (921) 443-33-77</a>
      </li>
      <li class="header-contacts__item">
        <a class="header-contacts__link" href="mailto:arsmedspb@mail.ru">arsmedspb@mail.ru</a>
      </li>
      <li class="header-contacts__item contacts-messager">
        <a class="contacts-messager__link" href="https://telegram.im/@klazomania" target="_blank">
          <div class="icon-telegram contacts-messager__icon contacts-messager__icon_telegram"></div>
        </a>
        <a class="contacts-messager__link" href="https://api.whatsapp.com/send?phone=79214433377" target="_blank">
          <div class="icon-whatsapp contacts-messager__icon contacts-messager__icon_whatsapp"></div>
        </a>
        <a class="contacts-messager__link" href="viber://add?number=%2B79214433377" target="_blank">
          <div class="icon-viber contacts-messager__icon contacts-messager__icon_viber"></div>
        </a>
      </li>
    </ul>
  </div>

  <!-- <div class="header__cart header-cart">
        Оформить заказ
      </div>
     <div class="header__contacts header-contacts">
        <ul class="header-contacts__list">
          <li class="header-contacts__item">
            <a class="header-contacts__link" href="tel:+78129297079">+7 (812) 929-70-79</a>
          </li>
          <li class="header-contacts__item">
            <a class="header-contacts__link" href="tel:+78129297079">+7 (812) 929-70-79</a>
          </li>
          <li class="header-contacts__item">
            <a class="header-contacts__link" href="tel:+79214433377">+7 (921) 443-33-77</a>
          </li>
          <li class="header-contacts__item contacts-messager">
            <a class="contacts-messager__link" href="https://telegram.im/@klazomania" target="_blank">
              <img class="contacts-messager__img" src="./build/images/telegram-m.jpg">
            </a>
            <a class="contacts-messager__link" href="https://api.whatsapp.com/send?phone=79214433377" target="_blank">
              <img class="contacts-messager__img" src="./build/images/whatsapp-m.jpg">
            </a>
            <a class="contacts-messager__link" href="viber://add?number=%2B79214433377" target="_blank">
              <img class="contacts-messager__img" src="./build/images/viber-m.jpg">
            </a>
          </li>
          <li class="header-contacts__item">
            <a class="header-contacts__link" href="mailto:arsmedspb@mail.ru">arsmedspb@mail.ru</a>
          </li>
        </ul>
      </div> -->
</header>