<header class="header">
  <nav class="products-menu">
    <div class="products-menu__close-btn icon-x"></div>
    <h2 class="products-menu__title">Каталог продукции</h2>
    <ul class="products-menu__list">
      <li class="products-menu__item">
        <span class="products-menu__item-text">Остеопластические материалы</span>
        <ul class="products-menu-sub">
          <li class="products-menu-sub__item">
            <a href="#" class="products-menu-sub__item-text">Geistlich</a>
            <span class="products-menu-sub__item-text products-menu-sub__item-text_not-link">Geistlich</span>
            <ul class="products-menu-sub2">
              <li class="products-menu-sub2__item">
                <a href="#" class="products-menu-sub2__item-text">Bio-Oss</a>
              </li>
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
            </ul>
          </li>
          <li class="products-menu-sub__item">
            <a href="#" class="products-menu-sub__item-text">Osteobiol</a>
            <span class="products-menu-sub__item-text products-menu-sub__item-text_not-link">Osteobiol</span>
            <ul class="products-menu-sub2">
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
            </ul>
          </li>
          <li class="products-menu-sub__item">
            <span class="products-menu-sub__item-text">Botiss</span>
            <ul class="products-menu-sub2">
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
            </ul>
          </li>
          <li class="products-menu-sub__item">
            <span class="products-menu-sub__item-text">Serag Weissner</span>
            <ul class="products-menu-sub2">
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
            </ul>
          </li>
          <li class="products-menu-sub__item">
            <span class="products-menu-sub__item-text">Aman Girbah</span>
            <ul class="products-menu-sub2">
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="products-menu__item">
        <span class="products-menu__item-text">Челюстно-лицевая хирургия</span>
        <ul class="products-menu-sub">
          <li class="products-menu-sub__item">
            <a href="#" class="products-menu-sub__item-text">Geistlich</a>
            <ul class="products-menu-sub2">
              <li class="products-menu-sub2__item">
                <a href="#" class="products-menu-sub2__item-text">Bio-Oss</a>
              </li>
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
            </ul>
          </li>
          <li class="products-menu-sub__item">
            <span class="products-menu-sub__item-text">Osteobiol</span>
            <ul class="products-menu-sub2">
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
            </ul>
          </li>
          <li class="products-menu-sub__item">
            <span class="products-menu-sub__item-text">Botiss</span>
            <ul class="products-menu-sub2">
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
            </ul>
          </li>
          <li class="products-menu-sub__item">
            <span class="products-menu-sub__item-text">Serag Weissner</span>
            <ul class="products-menu-sub2">
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
            </ul>
          </li>
          <li class="products-menu-sub__item">
            <span class="products-menu-sub__item-text">Aman Girbah</span>
            <ul class="products-menu-sub2">
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
              <li class="products-menu-sub2__item">
                <span class="products-menu-sub2__item-text">Bio-Oss</span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="header__main">
    <div class="header__inner">
      <div class="header__expand">
        //= svg/burger-menu.html
      </div>
      <div class="header__logo">
        <a class="header__logo-link" href="/">
          <img class="header__logo-img" src="./images/logo_shop.png" alt="ArsMed logo">
        </a>
      </div>
      <nav class="header__main-menu main-menu">
        <ul class="main-menu__list">
          <li class="main-menu__item js-products-trigger">
            <span class="main-menu__item-text">Каталог продукции</span>
            <div class="main-menu__item-icon icon-grid"></div>
          </li>
          <li class="main-menu__item">
            <a href="#" class="main-menu__item-text">Оформить заказ</a>
            <div class="main-menu__item-icon icon-cart"></div>
          </li>
          <li class="main-menu__item">
            <a href="#" class="main-menu__item-text">Каталоги и документы</a>
            <div class="main-menu__item-icon icon-folder"></div>
          </li>
          <li class="main-menu__item">
            <a href="#" class="main-menu__item-text">Доставка</a>
            <div class="main-menu__item-icon icon-truck"></div>
          </li>
            <li class="main-menu__item">
            <a href="#" class="main-menu__item-text">Контакты</a>
            <div class="main-menu__item-icon icon-users"></div>
          </li>
        </ul>
      </nav>
    
      <!-- <nav class="header__main-menu main-menu">
        <ul class="main-menu__list">
          <li class="main-menu__item">
            <a href="#" class="main-menu__item-text">Каталог продукции</a>
          </li>
          <li class="main-menu__item">
            <a href="#" class="main-menu__item-text">Оформить заказ</a>
          </li>
          <li class="main-menu__item">
            <a href="#" class="main-menu__item-text">Доставка</a>
          </li>
          <li class="main-menu__item">
            <a href="#" class="main-menu__item-text">Контакты</a>
          </li>
        </ul>
      </nav> -->
      <section class="header__contacts header-contacts">
        <ul class="header-contacts__list">
          <li class="header-contacts__item">
            <a class="header-contacts__link" href="tel:+78129297079">+7 (812) 929-70-79</a>
          </li>
          <li class="header-contacts__item">
            <a class="header-contacts__link" href="tel:+78129297079">+7 (812) 929-70-79</a>
          </li>
          <li class="header-contacts__item">
            <a class="header-contacts__link" href="tel:+79214433377">+7 (921) 443-33-77</a>
          </li>
          <li class="header-contacts__item">
            <a class="header-contacts__link" href="mailto:arsmedspb@mail.ru">arsmedspb@mail.ru</a>
          </li>
          <li class="header-contacts__item contacts-messager">
            <a class="contacts-messager__link" href="https://telegram.im/@klazomania" target="_blank">
              <div class="icon-telegram contacts-messager__icon contacts-messager__icon_telegram"></div>
            </a>
            <a class="contacts-messager__link" href="https://api.whatsapp.com/send?phone=79214433377" target="_blank">
              <div class="icon-whatsapp contacts-messager__icon contacts-messager__icon_whatsapp"></div>
            </a>
            <a class="contacts-messager__link" href="viber://add?number=%2B79214433377" target="_blank">
              <div class="icon-viber contacts-messager__icon contacts-messager__icon_viber"></div>
            </a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</header>