<section class="news-block">
  <h2 class="section-title">Новости</h2>
  <ul class="news-block__list">
    <li class="news-block__item">
      <article class="news-item">
        <div class="news-item__picture">
          <a href="/news-item.html"><img src="./images/news1.png" alt="" class="news-item__img"></a>
        </div>
        <div class="news-item__content">
          <div class="news-item__title">
            <p class="news-item__title-date">01.12.2018</p>
            <a href="/news-item.html"><h3 class="news-item__title-text">Состоялась международная конференциqweя</h3></a>
          </div>
          <p class="news-item__text">
            2-3 ноября 2018 года в Москве в МВЦ «Крокус Экспо»  состоялась  Международная конференция  "ТРАВМА 2018: Мультидисциплинарный подход".
            Обсуждались вопросы междисциплинарного взаимодействия при лечении пациентов с повреждениями опорно-двигательного аппарата.
          </p>
        </div>
      </article>
    </li>
    <li class="news-block__item">
      <article class="news-item">
        <div class="news-item__picture">
          <img src="./images/news1.png" alt="" class="news-item__img">
        </div>
        <div class="news-item__content">
          <div class="news-item__title">
            <p class="news-item__title-date">01.12.2018</p>
            <h3 class="news-item__title-text">Состоялась международная конференция</h3>
          </div>
          <p class="news-item__text">
            2-3 ноября 2018 года в Москве в МВЦ «Крокус Экспо»  состоялась  Международная конференция  "ТРАВМА 2018: Мультидисциплинарный подход".
            Обсуждались вопросы междисциплинарного взаимодействия при лечении пациентов с повреждениями опорно-двигательного аппарата.
          </p>
        </div>
      </article>
    </li>
  </ul>
  <a href="#" class="news-block__show-all-link">Показать все новости</a>
</section>