
<section class="product-list-container">
  <h2 class="section-title">Популярная продукция</h2>
  <div class="product-list">
    <article class="product-card js-product-container">
      <div class="product-card__main">
        <div class="product-card__picture">
          <a class="product-card__picture-link" href="./product-page.html">
            <img class="product-card__img js-product-img" src="./images/bio-oss_0.5S.jpeg" alt="">
          </a>
        </div>
        <div class="product-card__title">
          <a class="product-card__title-text" href="./product-page.html"><h3>Bio-Oss Spongiosa</h3></a>
          <div class="product-card__options select">
            <span class="select__text"></span>
            <div class="icon-arrow-right select__arrow"></div>
            <div class="select__list">
              <input type="radio" id="1" name="product-option-100" class="product-card__options-input select__input js-product-option" data-text="0.5 S" data-price-secondary="103.69" data-image="./images/bio-oss_0.5S.jpeg" data-price-primary="8012"></input>
              <label for="1" class="select__label">0.5 S</label>
              <input type="radio" id="2" name="product-option-100" class="product-card__options-input select__input js-product-option" data-text="0.5 L" data-price-secondary="103.69" data-image="./images/bio-oss_0.5L.jpeg" data-price-primary="8012"></input>
              <label for="2" class="select__label">0.5 L</label>
              <input type="radio" id="3" name="product-option-100" class="product-card__options-input select__input js-product-option" data-text="1.0 S" data-price-secondary="194.86" data-image="./images/bio-oss_1S.jpg" data-price-primary="15056"></input>
              <label for="3" class="select__label">1.0 S</label>
              <input type="radio" id="4" name="product-option-100" class="product-card__options-input select__input js-product-option"></input>
              <label for="4" class="select__label">20x20x(0.6)мм STD</label>
              <input type="radio" id="5" name="product-option-100" class="product-card__options-input select__input js-product-option"></input>
              <label for="5" class="select__label">30x30x(0.6)мм Standart</label>
              <input type="radio" id="6" name="product-option-100" class="product-card__options-input select__input js-product-option"></input>
              <label for="6" class="select__label">40x40x(0.4)мм FINE</label>
            </div>
          </div>
        </div>
        <div class="product-card__footer">
          <div class="product-card__price">
            <div class="product-card__price-text">
              <div class="product-card__currency-icon product-card__currency-icon_primary icon-rub js-currency-icon"></div>
              <span class="product-card__price-text_primary js-product-price-primary">8012</span>
            </div>
            <div class="product-card__price-text">
              <div class="product-card__currency-icon icon-chf"></div>
              <span class="product-card__price-text_secondary js-product-price-secondary js-currency-icon">103.69</span>
            </div>
          </div>
          <button class="product-card__cart js-add-to-cart" data-id="100">
            <div class="product-page__add-count js-product-cart-count"></div>
            <div class="product-card__cart-icon icon-cart"></div>
          </button>
        </div>
      </div>
      <div class="product-card__info">
        <h3 class="product-card__info-title">Гранулы с коллагеном</h3>
        <p class="product-card__info-desc">Остеокондуктивные свойства Geistlich Bio-Oss® обеспечивают надежную и предсказуемую костную регенерацию</p>
        <ul class="product-card__info-list">
          <li class="product-card__info-list-item">Очень комфортный в процессе работы</li>
          <li class="product-card__info-list-item">
            Сокращает время операции</li>
          <li class="product-card__info-list-item">
            Для труднодоступных дистальных отделов ротовой полости</li>
        </ul>
      </div>
    </article>
    <article class="product-card js-product-container">
      <div class="product-card__main">
        <div class="product-card__picture">
          <a class="product-card__picture-link" href="./product-page.html">
            <img class="product-card__img js-product-img" src="./images/bio-oss_0.5S.jpeg" alt="">
          </a>
        </div>
        <div class="product-card__title">
          <a class="product-card__title-text" href="./product-page.html"><h3>Bio-Oss Spongiosa</h3></a>
          <div class="product-card__options select">
            <span class="select__text"></span>
            <div class="icon-arrow-right select__arrow"></div>
            <div class="select__list">
              <input type="radio" id="1" name="product-option-100" class="product-card__options-input select__input js-product-option" data-text="0.5 S" data-price-secondary="103.69" data-image="./images/bio-oss_0.5S.jpeg" data-price-primary="8012"></input>
              <label for="1" class="select__label">0.5 S</label>
              <input type="radio" id="2" name="product-option-100" class="product-card__options-input select__input js-product-option" data-text="0.5 L" data-price-secondary="103.69" data-image="./images/bio-oss_0.5L.jpeg" data-price-primary="8012"></input>
              <label for="2" class="select__label">0.5 L</label>
              <input type="radio" id="3" name="product-option-100" class="product-card__options-input select__input js-product-option" data-text="1.0 S" data-price-secondary="194.86" data-image="./images/bio-oss_1S.jpg" data-price-primary="15056"></input>
              <label for="3" class="select__label">1.0 S</label>
              <input type="radio" id="4" name="product-option-100" class="product-card__options-input select__input js-product-option"></input>
              <label for="4" class="select__label">20x20x(0.6)мм STD</label>
              <input type="radio" id="5" name="product-option-100" class="product-card__options-input select__input js-product-option"></input>
              <label for="5" class="select__label">30x30x(0.6)мм Standart</label>
              <input type="radio" id="6" name="product-option-100" class="product-card__options-input select__input js-product-option"></input>
              <label for="6" class="select__label">40x40x(0.4)мм FINE</label>
            </div>
          </div>
        </div>
        <div class="product-card__footer">
          <div class="product-card__price">
            <div class="product-card__price-text">
              <div class="product-card__currency-icon product-card__currency-icon_primary icon-rub js-currency-icon"></div>
              <span class="product-card__price-text_primary js-product-price-primary">8012</span>
            </div>
            <div class="product-card__price-text">
              <div class="product-card__currency-icon icon-chf"></div>
              <span class="product-card__price-text_secondary js-product-price-secondary js-currency-icon">103.69</span>
            </div>
          </div>
          <button class="product-card__cart js-add-to-cart" data-id="100">
            <div class="product-page__add-count js-product-cart-count"></div>
            <div class="product-card__cart-icon icon-cart"></div>
          </button>
        </div>
      </div>
      <div class="product-card__info">
        <h3 class="product-card__info-title">Гранулы с коллагеном</h3>
        <p class="product-card__info-desc">Остеокондуктивные свойства Geistlich Bio-Oss® обеспечивают надежную и предсказуемую костную регенерацию</p>
        <ul class="product-card__info-list">
          <li class="product-card__info-list-item">Очень комфортный в процессе работы</li>
          <li class="product-card__info-list-item">
            Сокращает время операции</li>
          <li class="product-card__info-list-item">
            Для труднодоступных дистальных отделов ротовой полости</li>
        </ul>
      </div>
    </article>
    <article class="product-card js-product-container">
      <div class="product-card__main">
        <div class="product-card__picture">
          <a class="product-card__picture-link" href="./product-page.html">
            <img class="product-card__img js-product-img" src="./images/bio-oss_0.5S.jpeg" alt="">
          </a>
        </div>
        <div class="product-card__title">
          <a class="product-card__title-text" href="./product-page.html"><h3>Bio-Oss Spongiosa</h3></a>
          <div class="product-card__options select">
            <span class="select__text"></span>
            <div class="icon-arrow-right select__arrow"></div>
            <div class="select__list">
              <input type="radio" id="1" name="product-option-100" class="product-card__options-input select__input js-product-option" data-text="0.5 S" data-price-secondary="103.69" data-image="./images/bio-oss_0.5S.jpeg" data-price-primary="8012"></input>
              <label for="1" class="select__label">0.5 S</label>
              <input type="radio" id="2" name="product-option-100" class="product-card__options-input select__input js-product-option" data-text="0.5 L" data-price-secondary="103.69" data-image="./images/bio-oss_0.5L.jpeg" data-price-primary="8012"></input>
              <label for="2" class="select__label">0.5 L</label>
              <input type="radio" id="3" name="product-option-100" class="product-card__options-input select__input js-product-option" data-text="1.0 S" data-price-secondary="194.86" data-image="./images/bio-oss_1S.jpg" data-price-primary="15056"></input>
              <label for="3" class="select__label">1.0 S</label>
              <input type="radio" id="4" name="product-option-100" class="product-card__options-input select__input js-product-option"></input>
              <label for="4" class="select__label">20x20x(0.6)мм STD</label>
              <input type="radio" id="5" name="product-option-100" class="product-card__options-input select__input js-product-option"></input>
              <label for="5" class="select__label">30x30x(0.6)мм Standart</label>
              <input type="radio" id="6" name="product-option-100" class="product-card__options-input select__input js-product-option"></input>
              <label for="6" class="select__label">40x40x(0.4)мм FINE</label>
            </div>
          </div>
        </div>
        <div class="product-card__footer">
          <div class="product-card__price">
            <div class="product-card__price-text">
              <div class="product-card__currency-icon product-card__currency-icon_primary icon-rub js-currency-icon"></div>
              <span class="product-card__price-text_primary js-product-price-primary">8012</span>
            </div>
            <div class="product-card__price-text">
              <div class="product-card__currency-icon icon-chf"></div>
              <span class="product-card__price-text_secondary js-product-price-secondary js-currency-icon">103.69</span>
            </div>
          </div>
          <button class="product-card__cart js-add-to-cart" data-id="100">
            <div class="product-page__add-count js-product-cart-count"></div>
            <div class="product-card__cart-icon icon-cart"></div>
          </button>
        </div>
      </div>
      <div class="product-card__info">
        <h3 class="product-card__info-title">Гранулы с коллагеном</h3>
        <p class="product-card__info-desc">Остеокондуктивные свойства Geistlich Bio-Oss® обеспечивают надежную и предсказуемую костную регенерацию</p>
        <ul class="product-card__info-list">
          <li class="product-card__info-list-item">Очень комфортный в процессе работы</li>
          <li class="product-card__info-list-item">
            Сокращает время операции</li>
          <li class="product-card__info-list-item">
            Для труднодоступных дистальных отделов ротовой полости</li>
        </ul>
      </div>
    </article>
    <article class="product-card js-product-container">
      <div class="product-card__main">
        <div class="product-card__picture">
          <a class="product-card__picture-link" href="./product-page.html">
            <img class="product-card__img js-product-img" src="./images/bio-oss_0.5S.jpeg" alt="">
          </a>
        </div>
        <div class="product-card__title">
          <a class="product-card__title-text" href="./product-page.html"><h3>Bio-Oss Spongiosa</h3></a>
          <div class="product-card__options select">
            <span class="select__text"></span>
            <div class="icon-arrow-right select__arrow"></div>
            <div class="select__list">
              <input type="radio" id="1" name="product-option-100" class="product-card__options-input select__input js-product-option" data-text="0.5 S" data-price-secondary="103.69" data-image="./images/bio-oss_0.5S.jpeg" data-price-primary="8012"></input>
              <label for="1" class="select__label">0.5 S</label>
              <input type="radio" id="2" name="product-option-100" class="product-card__options-input select__input js-product-option" data-text="0.5 L" data-price-secondary="103.69" data-image="./images/bio-oss_0.5L.jpeg" data-price-primary="8012"></input>
              <label for="2" class="select__label">0.5 L</label>
              <input type="radio" id="3" name="product-option-100" class="product-card__options-input select__input js-product-option" data-text="1.0 S" data-price-secondary="194.86" data-image="./images/bio-oss_1S.jpg" data-price-primary="15056"></input>
              <label for="3" class="select__label">1.0 S</label>
              <input type="radio" id="4" name="product-option-100" class="product-card__options-input select__input js-product-option"></input>
              <label for="4" class="select__label">20x20x(0.6)мм STD</label>
              <input type="radio" id="5" name="product-option-100" class="product-card__options-input select__input js-product-option"></input>
              <label for="5" class="select__label">30x30x(0.6)мм Standart</label>
              <input type="radio" id="6" name="product-option-100" class="product-card__options-input select__input js-product-option"></input>
              <label for="6" class="select__label">40x40x(0.4)мм FINE</label>
            </div>
          </div>
        </div>
        <div class="product-card__footer">
          <div class="product-card__price">
            <div class="product-card__price-text">
              <div class="product-card__currency-icon product-card__currency-icon_primary icon-rub js-currency-icon"></div>
              <span class="product-card__price-text_primary js-product-price-primary">8012</span>
            </div>
            <div class="product-card__price-text">
              <div class="product-card__currency-icon icon-chf"></div>
              <span class="product-card__price-text_secondary js-product-price-secondary js-currency-icon">103.69</span>
            </div>
          </div>
          <button class="product-card__cart js-add-to-cart" data-id="100">
            <div class="product-page__add-count js-product-cart-count"></div>
            <div class="product-card__cart-icon icon-cart"></div>
          </button>
        </div>
      </div>
      <div class="product-card__info">
        <h3 class="product-card__info-title">Гранулы с коллагеном</h3>
        <p class="product-card__info-desc">Остеокондуктивные свойства Geistlich Bio-Oss® обеспечивают надежную и предсказуемую костную регенерацию</p>
        <ul class="product-card__info-list">
          <li class="product-card__info-list-item">Очень комфортный в процессе работы</li>
          <li class="product-card__info-list-item">
            Сокращает время операции</li>
          <li class="product-card__info-list-item">
            Для труднодоступных дистальных отделов ротовой полости</li>
        </ul>
      </div>
    </article>
  </div>  
</section>
