
<section class="product-list-container">
  <h2 class="section-title">Популярная продукция</h2>
  <div class="product-list">
    <div class="product-card js-product-container">
      <div class="product-card__picture">
        <a class="product-card__picture-link" href="./product-page.html">
          <img class="product-card__img js-product-img" src="./images/bio-oss_0.5S.jpeg" alt="">
        </a>
      </div>
      <div class="product-card__title">
        <a class="product-card__title-text" href="#"><h3>Bio-Oss Spongiosa</h3></a>
        <div class="product-card__options select">
          <span class="select__text"></span>
          <div class="icon-arrow-right select__arrow"></div>
          <div class="select__list">
            <input type="radio" id="1" name="product-option-100" class="product-card__options-input select__input js-product-option" data-text="0.5 S" data-price-secondary="103.69" data-image="./images/bio-oss_0.5S.jpeg" data-price-primary="8012"></input>
            <label for="1" class="select__label">0.5 S</label>
            <input type="radio" id="2" name="product-option-100" class="product-card__options-input select__input js-product-option" data-text="0.5 L" data-price-secondary="103.69" data-image="./images/bio-oss_0.5L.jpeg" data-price-primary="8012"></input>
            <label for="2" class="select__label">0.5 L</label>
            <input type="radio" id="3" name="product-option-100" class="product-card__options-input select__input js-product-option" data-text="1.0 S" data-price-secondary="194.86" data-image="./images/bio-oss_1S.jpg" data-price-primary="15056"></input>
            <label for="3" class="select__label">1.0 S</label>
            <input type="radio" id="4" name="product-option-100" class="product-card__options-input select__input js-product-option"></input>
            <label for="4" class="select__label">20x20x(0.6)мм STD</label>
            <input type="radio" id="5" name="product-option-100" class="product-card__options-input select__input js-product-option"></input>
            <label for="5" class="select__label">30x30x(0.6)мм Standart</label>
            <input type="radio" id="6" name="product-option-100" class="product-card__options-input select__input js-product-option"></input>
            <label for="6" class="select__label">40x40x(0.4)мм FINE</label>
          </div>
        </div>
      </div>
      <div class="product-card__footer">
        <div class="product-card__price">
          <div class="product-card__price-text">
            <div class="product-card__currency-icon product-card__currency-icon_primary icon-rub"></div>
            <span class="product-card__price-text_primary js-product-price-primary">8012</span>
          </div>
          <div class="product-card__price-text">
            <div class="product-card__currency-icon icon-chf"></div>
            <span class="product-card__price-text_secondary js-product-price-secondary">103.69</span>
          </div>
        </div>
        <button class="product-card__cart js-add-to-cart" data-id="100">
          <div class="product-page__add-count js-product-cart-count"></div>
          <div class="product-card__cart-icon icon-cart"></div>
        </button>
      </div>
    </div>
    <div class="product-card js-product-container">
      <div class="product-card__picture">
        <img class="product-card__img" src="./images/bio-oss_0.5S.jpeg" alt="">
      </div>
      <div class="product-card__title js-product-container">
        <a class="product-card__title-text" href="#"><h3>Bio-Oss Spongiosa</h3></a>
        <div class="product-card__options select">
          <span class="select__text">0.5 S</span>
          <div class="icon-arrow-right select__arrow"></div>
          <div class="select__list">
            <input type="radio" id="7" name="product-option-200" checked class="product-card__options-input select__input js-product-option" data-price-secondary="103.69" data-image="./images/bio-oss_0.5S.jpeg" data-price-primary="8012"></input>
            <label for="7" class="select__label">0.5 S</label>
            <input type="radio" id="8" name="product-option-200" class="product-card__options-input select__input js-product-option" data-price-secondary="103.69" data-image="./images/bio-oss_0.5L.jpeg" data-price-primary="8012"></input>
            <label for="8" class="select__label">0.5 L</label>
            <input type="radio" id="9" name="product-option-200" class="product-card__options-input select__input js-product-option" data-price-secondary="194.86" data-image="./images/bio-oss_1S.jpg" data-price-primary="15056"></input>
            <label for="9" class="select__label">1.0 S</label>
          </div>
        </div>
      </div>
      <div class="product-card__footer">
        <div class="product-card__price">
          <div class="product-card__price-text product-card__price-text_primary"><div class="product-card__currency-icon product-card__currency-icon_primary icon-rub"></div> 8012</div>
          <div class="product-card__price-text product-card__price-text_secondary"><div class="product-card__currency-icon icon-chf"></div> 103.69</div>
        </div>
        <button class="product-card__cart js-add-to-cart" data-id="200">
          <div class="product-page__add-count js-product-cart-count"></div>
          <div class="product-card__cart-icon icon-cart"></div>
        </button>
      </div>
    </div>
    <div class="product-card js-product-container">
      <div class="product-card__picture">
        <a class="product-card__picture-link" href="./product-page.html">
          <img class="product-card__img js-product-img" src="./images/bio-oss_0.5S.jpeg" alt="">
        </a>
      </div>
      <div class="product-card__title">
        <a class="product-card__title-text" href="#"><h3>Bio-Oss Spongiosa</h3></a>
      </div>
      <div class="product-card__footer">
        <div class="product-card__price">
          <div class="product-card__price-text">
            <div class="product-card__currency-icon product-card__currency-icon_primary icon-rub"></div>
            <span class="product-card__price-text_primary js-product-price-primary">8012</span>
          </div>
          <div class="product-card__price-text">
            <div class="product-card__currency-icon icon-chf"></div>
            <span class="product-card__price-text_secondary js-product-price-secondary">103.69</span>
          </div>
        </div>
        <button class="product-card__cart js-add-to-cart" data-id="300">
          <div class="product-page__add-count js-product-cart-count"></div>
          <div class="product-card__cart-icon icon-cart"></div>
        </button>
      </div>
    </div>
    <div class="product-card">
      <div class="product-card__picture">
        <img class="product-card__img" src="./images/bio-oss_0.5S.jpeg" alt="">
      </div>
      <div class="product-card__title">
        <a class="product-card__title-text" href="#"><h3>Bio-Oss Spongiosa</h3></a>
        <select class="product-card__title-select"><option value="103.69 CHF" data-sub-id="235" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_0.5S.jpeg" data-rubles="8012 Р">0,5 гр, "S"</option>
          <option value="103.69 CHF" data-sub-id="236" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_0.5L.jpeg" data-rubles="8012 Р">0,5 гр, "L"</option>
          <option value="194.86 CHF" data-sub-id="237" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_1S.jpg" data-rubles="15056 Р">1.0 гр, "S"</option>
          <option value="194.86 CHF" data-sub-id="238" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_1L.jpg" data-rubles="15056 Р">1.0 гр, "L"</option>
          <option value="356.89 CHF" data-sub-id="239" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_2S.jpeg" data-rubles="27576 Р">2.0 гр, "S"</option>
          <option value="356.89 CHF" data-sub-id="240" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_2L.jpeg" data-rubles="27576 Р">2.0 гр, "L"</option>
          <option value="84.14 CHF" data-sub-id="241" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_0.25S.jpeg" data-rubles="6501 Р">0,25 гр, "S"</option>
        </select>
      </div>
      <div class="product-card__footer">
        <div class="product-card__price">
          <div class="product-card__price-text product-card__price-text_primary"><div class="product-card__currency-icon product-card__currency-icon_primary icon-rub"></div> 8012</div>
          <div class="product-card__price-text product-card__price-text_secondary"><div class="product-card__currency-icon icon-chf"></div> 103.69</div>
        </div>
        <div class="product-card__cart">
          <div class="product-card__cart-icon icon-cart"></div>
        </div>
      </div>
    </div>
  </div>  
</section>
