<div class="product-params">
  <div class="product-params__param"><div class="product-params__param-wrapper js-product-param" data-parent-param="3741" style="display: block;">
<p class="product-params__param-title">D</p>
<div class="product-params__items">

<input type="radio" id="param-value-3743" name="product-param-3742" class="product-params__item-input js-product-param-value" data-id="3743">
<label for="param-value-3743" class="product-params__item">2.5</label>

<input type="radio" id="param-value-3754" name="product-param-3742" class="product-params__item-input js-product-param-value" data-id="3754">
<label for="param-value-3754" class="product-params__item">3</label></div>
<div class="product-params__param"><div class="product-params__param-wrapper js-product-param" data-parent-param="3743">
<p class="product-params__param-title">L</p>
<div class="product-params__items">

<input type="radio" id="param-value-3745" name="product-param-3744" class="product-params__item-input js-product-param-value" data-id="3745">
<label for="param-value-3745" class="product-params__item">10</label>

<input type="radio" id="param-value-3749" name="product-param-3744" class="product-params__item-input js-product-param-value" data-id="3749">
<label for="param-value-3749" class="product-params__item">12</label></div>
<div class="product-params__param"><div class="product-params__param-wrapper js-product-param" data-parent-param="3745">
<p class="product-params__param-title">C</p>
<div class="product-params__items">

<input type="radio" id="param-value-3747" name="product-param-3746" class="product-params__item-input js-product-param-value" data-id="3747" data-option-id="3716" data-article="ST3508SM" data-price-primary="1111" data-price-secondary="1111">
<label for="param-value-3747" class="product-params__item">2</label>

<input type="radio" id="param-value-3748" name="product-param-3746" class="product-params__item-input js-product-param-value" data-id="3748" data-option-id="3717" data-article="ST3510SM" data-price-primary="1122" data-price-secondary="1122">
<label for="param-value-3748" class="product-params__item">4</label></div>

</div><div class="product-params__param-wrapper js-product-param" data-parent-param="3749">
<p class="product-params__param-title">C</p>
<div class="product-params__items">

<input type="radio" id="param-value-3751" name="product-param-3750" class="product-params__item-input js-product-param-value" data-id="3751" data-option-id="3718" data-article="ST3512SM" data-price-primary="1133" data-price-secondary="1133">
<label for="param-value-3751" class="product-params__item">2</label>

<input type="radio" id="param-value-3752" name="product-param-3750" class="product-params__item-input js-product-param-value" data-id="3752" data-option-id="3719" data-article="ST3514SM" data-price-primary="1144" data-price-secondary="1144">
<label for="param-value-3752" class="product-params__item">4</label></div>

</div></div>
</div><div class="product-params__param-wrapper js-product-param" data-parent-param="3754">
<p class="product-params__param-title">L</p>
<div class="product-params__items">

<input type="radio" id="param-value-3756" name="product-param-3755" class="product-params__item-input js-product-param-value" data-id="3756">
<label for="param-value-3756" class="product-params__item">10</label>

<input type="radio" id="param-value-3760" name="product-param-3755" class="product-params__item-input js-product-param-value" data-id="3760">
<label for="param-value-3760" class="product-params__item">13</label></div>
<div class="product-params__param"><div class="product-params__param-wrapper js-product-param" data-parent-param="3756">
<p class="product-params__param-title">C</p>
<div class="product-params__items">

<input type="radio" id="param-value-3758" name="product-param-3757" class="product-params__item-input js-product-param-value" data-id="3758" data-option-id="3720" data-article="ST4007SM" data-price-primary="2211" data-price-secondary="2211">
<label for="param-value-3758" class="product-params__item">2</label>

<input type="radio" id="param-value-3759" name="product-param-3757" class="product-params__item-input js-product-param-value" data-id="3759" data-option-id="3721" data-article="ST4008SM" data-price-primary="2222" data-price-secondary="2222">
<label for="param-value-3759" class="product-params__item">4</label></div>

</div><div class="product-params__param-wrapper js-product-param" data-parent-param="3760">
<p class="product-params__param-title">C</p>
<div class="product-params__items">

<input type="radio" id="param-value-3762" name="product-param-3761" class="product-params__item-input js-product-param-value" data-id="3762" data-option-id="3722" data-article="ST4010SM" data-price-primary="2233" data-price-secondary="2233">
<label for="param-value-3762" class="product-params__item">3</label>

<input type="radio" id="param-value-3763" name="product-param-3761" class="product-params__item-input js-product-param-value" data-id="3763" data-option-id="3723" data-article="ST4012SM" data-price-primary="2244" data-price-secondary="2244">
<label for="param-value-3763" class="product-params__item">4</label></div>

</div></div>
</div></div>
</div></div>

</div>