
<div class="product-list">
  <div class="product-card">
    <div class="product-card__picture">
      <a href="#">
        <img class="product-card__img" src="./images/bio-oss_0.5S.jpeg" alt="">
      </a>
    </div>
    <div class="product-card__title">
      <a class="product-card__title-text" href="#"><h3>Bio-Oss Spongiosa</h3></a>
      <select class="product-card__title-select"><option value="103.69 CHF" data-sub-id="235" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_0.5S.jpeg" data-rubles="8012 Р">0,5 гр, "S"</option>
        <option value="103.69 CHF" data-sub-id="236" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_0.5L.jpeg" data-rubles="8012 Р">0,5 гр, "L"</option>
        <option value="194.86 CHF" data-sub-id="237" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_1S.jpg" data-rubles="15056 Р">1.0 гр, "S"</option>
        <option value="194.86 CHF" data-sub-id="238" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_1L.jpg" data-rubles="15056 Р">1.0 гр, "L"</option>
        <option value="356.89 CHF" data-sub-id="239" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_2S.jpeg" data-rubles="27576 Р">2.0 гр, "S"</option>
        <option value="356.89 CHF" data-sub-id="240" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_2L.jpeg" data-rubles="27576 Р">2.0 гр, "L"</option>
        <option value="84.14 CHF" data-sub-id="241" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_0.25S.jpeg" data-rubles="6501 Р">0,25 гр, "S"</option>
      </select>
    </div>
    <div class="product-card__footer">
      <div class="product-card__price">
        <div class="product-card__price-text product-card__price-text_primary"><div class="product-card__currency-icon product-card__currency-icon_primary icon-rub"></div> 8012</div>
        <div class="product-card__price-text product-card__price-text_secondary"><div class="product-card__currency-icon icon-chf"></div> 103.69</div>
      </div>
      <div class="product-card__cart">
        <div class="product-card__cart-icon icon-cart"></div>
      </div>
    </div>
  </div>
  <div class="product-card">
    <div class="product-card__picture">
      <img class="product-card__img" src="./images/bio-oss_0.5S.jpeg" alt="">
    </div>
    <div class="product-card__title">
      <a class="product-card__title-text" href="#"><h3>Bio-Oss Spongiosa</h3></a>
      <select class="product-card__title-select"><option value="103.69 CHF" data-sub-id="235" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_0.5S.jpeg" data-rubles="8012 Р">0,5 гр, "S"</option>
        <option value="103.69 CHF" data-sub-id="236" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_0.5L.jpeg" data-rubles="8012 Р">0,5 гр, "L"</option>
        <option value="194.86 CHF" data-sub-id="237" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_1S.jpg" data-rubles="15056 Р">1.0 гр, "S"</option>
        <option value="194.86 CHF" data-sub-id="238" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_1L.jpg" data-rubles="15056 Р">1.0 гр, "L"</option>
        <option value="356.89 CHF" data-sub-id="239" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_2S.jpeg" data-rubles="27576 Р">2.0 гр, "S"</option>
        <option value="356.89 CHF" data-sub-id="240" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_2L.jpeg" data-rubles="27576 Р">2.0 гр, "L"</option>
        <option value="84.14 CHF" data-sub-id="241" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_0.25S.jpeg" data-rubles="6501 Р">0,25 гр, "S"</option>
      </select>
    </div>
    <div class="product-card__footer">
      <div class="product-card__price">
        <div class="product-card__price-text product-card__price-text_primary"><div class="product-card__currency-icon product-card__currency-icon_primary icon-rub"></div> 8012</div>
        <div class="product-card__price-text product-card__price-text_secondary"><div class="product-card__currency-icon icon-chf"></div> 103.69</div>
      </div>
      <div class="product-card__cart">
        <div class="product-card__cart-icon icon-cart"></div>
      </div>
    </div>
  </div>
  <div class="product-card">
    <div class="product-card__picture">
      <img class="product-card__img" src="./images/bio-oss_0.5S.jpeg" alt="">
    </div>
    <div class="product-card__title">
      <a class="product-card__title-text" href="#"><h3>Bio-Oss Spongiosa</h3></a>
      <select class="product-card__title-select"><option value="103.69 CHF" data-sub-id="235" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_0.5S.jpeg" data-rubles="8012 Р">0,5 гр, "S"</option>
        <option value="103.69 CHF" data-sub-id="236" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_0.5L.jpeg" data-rubles="8012 Р">0,5 гр, "L"</option>
        <option value="194.86 CHF" data-sub-id="237" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_1S.jpg" data-rubles="15056 Р">1.0 гр, "S"</option>
        <option value="194.86 CHF" data-sub-id="238" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_1L.jpg" data-rubles="15056 Р">1.0 гр, "L"</option>
        <option value="356.89 CHF" data-sub-id="239" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_2S.jpeg" data-rubles="27576 Р">2.0 гр, "S"</option>
        <option value="356.89 CHF" data-sub-id="240" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_2L.jpeg" data-rubles="27576 Р">2.0 гр, "L"</option>
        <option value="84.14 CHF" data-sub-id="241" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_0.25S.jpeg" data-rubles="6501 Р">0,25 гр, "S"</option>
      </select>
    </div>
    <div class="product-card__footer">
      <div class="product-card__price">
        <div class="product-card__price-text product-card__price-text_primary"><div class="product-card__currency-icon product-card__currency-icon_primary icon-rub"></div> 8012</div>
        <div class="product-card__price-text product-card__price-text_secondary"><div class="product-card__currency-icon icon-chf"></div> 103.69</div>
      </div>
      <div class="product-card__cart">
        <div class="product-card__cart-icon icon-cart"></div>
      </div>
    </div>
  </div>
  <div class="product-card">
    <div class="product-card__picture">
      <img class="product-card__img" src="./images/bio-oss_0.5S.jpeg" alt="">
    </div>
    <div class="product-card__title">
      <a class="product-card__title-text" href="#"><h3>Bio-Oss Spongiosa</h3></a>
      <select class="product-card__title-select"><option value="103.69 CHF" data-sub-id="235" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_0.5S.jpeg" data-rubles="8012 Р">0,5 гр, "S"</option>
        <option value="103.69 CHF" data-sub-id="236" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_0.5L.jpeg" data-rubles="8012 Р">0,5 гр, "L"</option>
        <option value="194.86 CHF" data-sub-id="237" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_1S.jpg" data-rubles="15056 Р">1.0 гр, "S"</option>
        <option value="194.86 CHF" data-sub-id="238" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_1L.jpg" data-rubles="15056 Р">1.0 гр, "L"</option>
        <option value="356.89 CHF" data-sub-id="239" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_2S.jpeg" data-rubles="27576 Р">2.0 гр, "S"</option>
        <option value="356.89 CHF" data-sub-id="240" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_2L.jpeg" data-rubles="27576 Р">2.0 гр, "L"</option>
        <option value="84.14 CHF" data-sub-id="241" data-id="24" data-images="/images/products/geictlich/bio-oss/bio-oss_0.25S.jpeg" data-rubles="6501 Р">0,25 гр, "S"</option>
      </select>
    </div>
    <div class="product-card__footer">
      <div class="product-card__price">
        <div class="product-card__price-text product-card__price-text_primary"><div class="product-card__currency-icon product-card__currency-icon_primary icon-rub"></div> 8012</div>
        <div class="product-card__price-text product-card__price-text_secondary"><div class="product-card__currency-icon icon-chf"></div> 103.69</div>
      </div>
      <div class="product-card__cart">
        <div class="product-card__cart-icon icon-cart"></div>
      </div>
    </div>
  </div>
</div>
