<tbody class="products-table__body">
  <tr class="products-table__row js-product-container js-product-values" data-option-id="3716">
<td class="products-table__col">ST3508SM</td>
<td class="products-table__col">Копия ST3508SM 3.5 х 8 мм</td>
<td class="products-table__col">1111</td>
<td class="products-table__col">
<div class="cart-qty">
<div class="cart-qty__btn cart-qty__btn_minus js-product-qty-btn" data-action="-1">
  <div class="icon-minus cart-qty__icon"></div>
</div>
<input type="number" value="1" class="cart-qty__input js-product-qty-input">
<div class="cart-qty__btn cart-qty__btn_plus js-product-qty-btn" data-action="1">
  <div class="icon-plus cart-qty__icon"></div>
</div>
</div>
</td>
<td class="products-table__col">
<button class="products-table__btn js-add-to-cart" data-id="3714">Заказать</button>
</td>
</tr>
<tr class="products-table__row js-product-container js-product-values" data-option-id="3717">
<td class="products-table__col">ST3510SM</td>
<td class="products-table__col">Копия ST3510SM 3.5 х 10 мм</td>
<td class="products-table__col">1122</td>
<td class="products-table__col">
<div class="cart-qty">
<div class="cart-qty__btn cart-qty__btn_minus js-product-qty-btn" data-action="-1">
  <div class="icon-minus cart-qty__icon"></div>
</div>
<input type="number" value="1" class="cart-qty__input js-product-qty-input">
<div class="cart-qty__btn cart-qty__btn_plus js-product-qty-btn" data-action="1">
  <div class="icon-plus cart-qty__icon"></div>
</div>
</div>
</td>
<td class="products-table__col">
<button class="products-table__btn js-add-to-cart" data-id="3714">Заказать</button>
</td>
</tr>
<tr class="products-table__row js-product-container js-product-values" data-option-id="3718">
<td class="products-table__col">ST3512SM</td>
<td class="products-table__col">Копия ST3512SM 3.5 х 12 мм</td>
<td class="products-table__col">1133</td>
<td class="products-table__col">
<div class="cart-qty">
<div class="cart-qty__btn cart-qty__btn_minus js-product-qty-btn" data-action="-1">
  <div class="icon-minus cart-qty__icon"></div>
</div>
<input type="number" value="1" class="cart-qty__input js-product-qty-input">
<div class="cart-qty__btn cart-qty__btn_plus js-product-qty-btn" data-action="1">
  <div class="icon-plus cart-qty__icon"></div>
</div>
</div>
</td>
<td class="products-table__col">
<button class="products-table__btn js-add-to-cart" data-id="3714">Заказать</button>
</td>
</tr>
<tr class="products-table__row js-product-container js-product-values" data-option-id="3719">
<td class="products-table__col">ST3514SM</td>
<td class="products-table__col">Копия ST3514SM 3.5 х 14 мм</td>
<td class="products-table__col">1144</td>
<td class="products-table__col">
<div class="cart-qty">
<div class="cart-qty__btn cart-qty__btn_minus js-product-qty-btn" data-action="-1">
  <div class="icon-minus cart-qty__icon"></div>
</div>
<input type="number" value="1" class="cart-qty__input js-product-qty-input">
<div class="cart-qty__btn cart-qty__btn_plus js-product-qty-btn" data-action="1">
  <div class="icon-plus cart-qty__icon"></div>
</div>
</div>
</td>
<td class="products-table__col">
<button class="products-table__btn js-add-to-cart" data-id="3714">Заказать</button>
</td>
</tr>
<tr class="products-table__row js-product-container js-product-values" data-option-id="3720">
<td class="products-table__col">ST4007SM</td>
<td class="products-table__col">Копия ST4007SM 4.0 x 7 мм</td>
<td class="products-table__col">2211</td>
<td class="products-table__col">
<div class="cart-qty">
<div class="cart-qty__btn cart-qty__btn_minus js-product-qty-btn" data-action="-1">
  <div class="icon-minus cart-qty__icon"></div>
</div>
<input type="number" value="1" class="cart-qty__input js-product-qty-input">
<div class="cart-qty__btn cart-qty__btn_plus js-product-qty-btn" data-action="1">
  <div class="icon-plus cart-qty__icon"></div>
</div>
</div>
</td>
<td class="products-table__col">
<button class="products-table__btn js-add-to-cart" data-id="3714">Заказать</button>
</td>
</tr>
<tr class="products-table__row js-product-container js-product-values" data-option-id="3721">
<td class="products-table__col">ST4008SM</td>
<td class="products-table__col">Копия ST4008SM 4.0 x 8 мм</td>
<td class="products-table__col">2222</td>
<td class="products-table__col">
<div class="cart-qty">
<div class="cart-qty__btn cart-qty__btn_minus js-product-qty-btn" data-action="-1">
  <div class="icon-minus cart-qty__icon"></div>
</div>
<input type="number" value="1" class="cart-qty__input js-product-qty-input">
<div class="cart-qty__btn cart-qty__btn_plus js-product-qty-btn" data-action="1">
  <div class="icon-plus cart-qty__icon"></div>
</div>
</div>
</td>
<td class="products-table__col">
<button class="products-table__btn js-add-to-cart" data-id="3714">Заказать</button>
</td>
</tr>
<tr class="products-table__row js-product-container js-product-values" data-option-id="3722">
<td class="products-table__col">ST4010SM</td>
<td class="products-table__col">Копия ST4010SM 4.0 x 10 мм</td>
<td class="products-table__col">2233</td>
<td class="products-table__col">
<div class="cart-qty">
<div class="cart-qty__btn cart-qty__btn_minus js-product-qty-btn" data-action="-1">
  <div class="icon-minus cart-qty__icon"></div>
</div>
<input type="number" value="1" class="cart-qty__input js-product-qty-input">
<div class="cart-qty__btn cart-qty__btn_plus js-product-qty-btn" data-action="1">
  <div class="icon-plus cart-qty__icon"></div>
</div>
</div>
</td>
<td class="products-table__col">
<button class="products-table__btn js-add-to-cart" data-id="3714">Заказать</button>
</td>
</tr>
<tr class="products-table__row js-product-container js-product-values" data-option-id="3723">
<td class="products-table__col">ST4012SM</td>
<td class="products-table__col">Копия ST4012SM 4.0 х 12 мм</td>
<td class="products-table__col">2244</td>
<td class="products-table__col">
<div class="cart-qty">
<div class="cart-qty__btn cart-qty__btn_minus js-product-qty-btn" data-action="-1">
  <div class="icon-minus cart-qty__icon"></div>
</div>
<input type="number" value="1" class="cart-qty__input js-product-qty-input">
<div class="cart-qty__btn cart-qty__btn_plus js-product-qty-btn" data-action="1">
  <div class="icon-plus cart-qty__icon"></div>
</div>
</div>
</td>
<td class="products-table__col">
<button class="products-table__btn js-add-to-cart" data-id="3714">Заказать</button>
</td>
</tr>
<tr class="products-table__row js-product-container js-product-values" data-option-id="3724">
<td class="products-table__col"></td>
<td class="products-table__col">Копия ST4014SM 4.0 х 14 мм</td>
<td class="products-table__col"></td>
<td class="products-table__col">
<div class="cart-qty">
<div class="cart-qty__btn cart-qty__btn_minus js-product-qty-btn" data-action="-1">
  <div class="icon-minus cart-qty__icon"></div>
</div>
<input type="number" value="1" class="cart-qty__input js-product-qty-input">
<div class="cart-qty__btn cart-qty__btn_plus js-product-qty-btn" data-action="1">
  <div class="icon-plus cart-qty__icon"></div>
</div>
</div>
</td>
<td class="products-table__col">
<button class="products-table__btn js-add-to-cart" data-id="3714">Заказать</button>
</td>
</tr>
<tr class="products-table__row js-product-container js-product-values" data-option-id="3725">
<td class="products-table__col"></td>
<td class="products-table__col">Копия ST4507SM 4.5 х 7 мм</td>
<td class="products-table__col"></td>
<td class="products-table__col">
<div class="cart-qty">
<div class="cart-qty__btn cart-qty__btn_minus js-product-qty-btn" data-action="-1">
  <div class="icon-minus cart-qty__icon"></div>
</div>
<input type="number" value="1" class="cart-qty__input js-product-qty-input">
<div class="cart-qty__btn cart-qty__btn_plus js-product-qty-btn" data-action="1">
  <div class="icon-plus cart-qty__icon"></div>
</div>
</div>
</td>
<td class="products-table__col">
<button class="products-table__btn js-add-to-cart" data-id="3714">Заказать</button>
</td>
</tr>
<tr class="products-table__row js-product-container js-product-values" data-option-id="3726">
<td class="products-table__col"></td>
<td class="products-table__col">Копия ST4508SM 4.5 х 8 мм</td>
<td class="products-table__col"></td>
<td class="products-table__col">
<div class="cart-qty">
<div class="cart-qty__btn cart-qty__btn_minus js-product-qty-btn" data-action="-1">
  <div class="icon-minus cart-qty__icon"></div>
</div>
<input type="number" value="1" class="cart-qty__input js-product-qty-input">
<div class="cart-qty__btn cart-qty__btn_plus js-product-qty-btn" data-action="1">
  <div class="icon-plus cart-qty__icon"></div>
</div>
</div>
</td>
<td class="products-table__col">
<button class="products-table__btn js-add-to-cart" data-id="3714">Заказать</button>
</td>
</tr>
<tr class="products-table__row js-product-container js-product-values" data-option-id="3727">
<td class="products-table__col"></td>
<td class="products-table__col">Копия ST4510SM 4.5 х 10 мм</td>
<td class="products-table__col"></td>
<td class="products-table__col">
<div class="cart-qty">
<div class="cart-qty__btn cart-qty__btn_minus js-product-qty-btn" data-action="-1">
  <div class="icon-minus cart-qty__icon"></div>
</div>
<input type="number" value="1" class="cart-qty__input js-product-qty-input">
<div class="cart-qty__btn cart-qty__btn_plus js-product-qty-btn" data-action="1">
  <div class="icon-plus cart-qty__icon"></div>
</div>
</div>
</td>
<td class="products-table__col">
<button class="products-table__btn js-add-to-cart" data-id="3714">Заказать</button>
</td>
</tr>
<tr class="products-table__row js-product-container js-product-values" data-option-id="3728">
<td class="products-table__col"></td>
<td class="products-table__col">Копия ST4512SM 4.5 х 12 мм</td>
<td class="products-table__col"></td>
<td class="products-table__col">
<div class="cart-qty">
<div class="cart-qty__btn cart-qty__btn_minus js-product-qty-btn" data-action="-1">
  <div class="icon-minus cart-qty__icon"></div>
</div>
<input type="number" value="1" class="cart-qty__input js-product-qty-input">
<div class="cart-qty__btn cart-qty__btn_plus js-product-qty-btn" data-action="1">
  <div class="icon-plus cart-qty__icon"></div>
</div>
</div>
</td>
<td class="products-table__col">
<button class="products-table__btn js-add-to-cart" data-id="3714">Заказать</button>
</td>
</tr>
<tr class="products-table__row js-product-container js-product-values" data-option-id="3729">
<td class="products-table__col"></td>
<td class="products-table__col">Копия ST4514SM 4.5 х 14 мм</td>
<td class="products-table__col"></td>
<td class="products-table__col">
<div class="cart-qty">
<div class="cart-qty__btn cart-qty__btn_minus js-product-qty-btn" data-action="-1">
  <div class="icon-minus cart-qty__icon"></div>
</div>
<input type="number" value="1" class="cart-qty__input js-product-qty-input">
<div class="cart-qty__btn cart-qty__btn_plus js-product-qty-btn" data-action="1">
  <div class="icon-plus cart-qty__icon"></div>
</div>
</div>
</td>
<td class="products-table__col">
<button class="products-table__btn js-add-to-cart" data-id="3714">Заказать</button>
</td>
</tr>
<tr class="products-table__row js-product-container js-product-values" data-option-id="3730">
<td class="products-table__col"></td>
<td class="products-table__col">Копия ST5007SM 5.0 х 7 мм</td>
<td class="products-table__col"></td>
<td class="products-table__col">
<div class="cart-qty">
<div class="cart-qty__btn cart-qty__btn_minus js-product-qty-btn" data-action="-1">
  <div class="icon-minus cart-qty__icon"></div>
</div>
<input type="number" value="1" class="cart-qty__input js-product-qty-input">
<div class="cart-qty__btn cart-qty__btn_plus js-product-qty-btn" data-action="1">
  <div class="icon-plus cart-qty__icon"></div>
</div>
</div>
</td>
<td class="products-table__col">
<button class="products-table__btn js-add-to-cart" data-id="3714">Заказать</button>
</td>
</tr>
<tr class="products-table__row js-product-container js-product-values" data-option-id="3731">
<td class="products-table__col"></td>
<td class="products-table__col">Копия ST5008SM 5.0 х 8 мм</td>
<td class="products-table__col"></td>
<td class="products-table__col">
<div class="cart-qty">
<div class="cart-qty__btn cart-qty__btn_minus js-product-qty-btn" data-action="-1">
  <div class="icon-minus cart-qty__icon"></div>
</div>
<input type="number" value="1" class="cart-qty__input js-product-qty-input">
<div class="cart-qty__btn cart-qty__btn_plus js-product-qty-btn" data-action="1">
  <div class="icon-plus cart-qty__icon"></div>
</div>
</div>
</td>
<td class="products-table__col">
<button class="products-table__btn js-add-to-cart" data-id="3714">Заказать</button>
</td>
</tr>
<tr class="products-table__row js-product-container js-product-values" data-option-id="3732">
<td class="products-table__col"></td>
<td class="products-table__col">Копия ST5010SM 5.0 х 10 мм</td>
<td class="products-table__col"></td>
<td class="products-table__col">
<div class="cart-qty">
<div class="cart-qty__btn cart-qty__btn_minus js-product-qty-btn" data-action="-1">
  <div class="icon-minus cart-qty__icon"></div>
</div>
<input type="number" value="1" class="cart-qty__input js-product-qty-input">
<div class="cart-qty__btn cart-qty__btn_plus js-product-qty-btn" data-action="1">
  <div class="icon-plus cart-qty__icon"></div>
</div>
</div>
</td>
<td class="products-table__col">
<button class="products-table__btn js-add-to-cart" data-id="3714">Заказать</button>
</td>
</tr>
<tr class="products-table__row js-product-container js-product-values" data-option-id="3733">
<td class="products-table__col"></td>
<td class="products-table__col">Копия ST5012SM 5.0 х 12 мм</td>
<td class="products-table__col"></td>
<td class="products-table__col">
<div class="cart-qty">
<div class="cart-qty__btn cart-qty__btn_minus js-product-qty-btn" data-action="-1">
  <div class="icon-minus cart-qty__icon"></div>
</div>
<input type="number" value="1" class="cart-qty__input js-product-qty-input">
<div class="cart-qty__btn cart-qty__btn_plus js-product-qty-btn" data-action="1">
  <div class="icon-plus cart-qty__icon"></div>
</div>
</div>
</td>
<td class="products-table__col">
<button class="products-table__btn js-add-to-cart" data-id="3714">Заказать</button>
</td>
</tr>
<tr class="products-table__row js-product-container js-product-values" data-option-id="3734">
<td class="products-table__col"></td>
<td class="products-table__col">Копия ST5014SM 5.0 х 14 мм</td>
<td class="products-table__col"></td>
<td class="products-table__col">
<div class="cart-qty">
<div class="cart-qty__btn cart-qty__btn_minus js-product-qty-btn" data-action="-1">
  <div class="icon-minus cart-qty__icon"></div>
</div>
<input type="number" value="1" class="cart-qty__input js-product-qty-input">
<div class="cart-qty__btn cart-qty__btn_plus js-product-qty-btn" data-action="1">
  <div class="icon-plus cart-qty__icon"></div>
</div>
</div>
</td>
<td class="products-table__col">
<button class="products-table__btn js-add-to-cart" data-id="3714">Заказать</button>
</td>
</tr>
<tr class="products-table__row js-product-container js-product-values" data-option-id="3735">
<td class="products-table__col"></td>
<td class="products-table__col">Копия ST6007SM 6.0 х 7 мм</td>
<td class="products-table__col"></td>
<td class="products-table__col">
<div class="cart-qty">
<div class="cart-qty__btn cart-qty__btn_minus js-product-qty-btn" data-action="-1">
  <div class="icon-minus cart-qty__icon"></div>
</div>
<input type="number" value="1" class="cart-qty__input js-product-qty-input">
<div class="cart-qty__btn cart-qty__btn_plus js-product-qty-btn" data-action="1">
  <div class="icon-plus cart-qty__icon"></div>
</div>
</div>
</td>
<td class="products-table__col">
<button class="products-table__btn js-add-to-cart" data-id="3714">Заказать</button>
</td>
</tr>
<tr class="products-table__row js-product-container js-product-values" data-option-id="3738">
<td class="products-table__col"></td>
<td class="products-table__col">Копия ST6008SM 6.0 x 8 мм</td>
<td class="products-table__col"></td>
<td class="products-table__col">
<div class="cart-qty">
<div class="cart-qty__btn cart-qty__btn_minus js-product-qty-btn" data-action="-1">
  <div class="icon-minus cart-qty__icon"></div>
</div>
<input type="number" value="1" class="cart-qty__input js-product-qty-input">
<div class="cart-qty__btn cart-qty__btn_plus js-product-qty-btn" data-action="1">
  <div class="icon-plus cart-qty__icon"></div>
</div>
</div>
</td>
<td class="products-table__col">
<button class="products-table__btn js-add-to-cart" data-id="3714">Заказать</button>
</td>
</tr>
<tr class="products-table__row js-product-container js-product-values" data-option-id="3736">
<td class="products-table__col"></td>
<td class="products-table__col">Копия ST6010SM 6.0 х 10 мм</td>
<td class="products-table__col"></td>
<td class="products-table__col">
<div class="cart-qty">
<div class="cart-qty__btn cart-qty__btn_minus js-product-qty-btn" data-action="-1">
  <div class="icon-minus cart-qty__icon"></div>
</div>
<input type="number" value="1" class="cart-qty__input js-product-qty-input">
<div class="cart-qty__btn cart-qty__btn_plus js-product-qty-btn" data-action="1">
  <div class="icon-plus cart-qty__icon"></div>
</div>
</div>
</td>
<td class="products-table__col">
<button class="products-table__btn js-add-to-cart" data-id="3714">Заказать</button>
</td>
</tr>
<tr class="products-table__row js-product-container js-product-values" data-option-id="3737">
<td class="products-table__col"></td>
<td class="products-table__col">Копия ST6012SM 6.0 х 12 мм</td>
<td class="products-table__col"></td>
<td class="products-table__col">
<div class="cart-qty">
<div class="cart-qty__btn cart-qty__btn_minus js-product-qty-btn" data-action="-1">
  <div class="icon-minus cart-qty__icon"></div>
</div>
<input type="number" value="1" class="cart-qty__input js-product-qty-input">
<div class="cart-qty__btn cart-qty__btn_plus js-product-qty-btn" data-action="1">
  <div class="icon-plus cart-qty__icon"></div>
</div>
</div>
</td>
<td class="products-table__col">
<button class="products-table__btn js-add-to-cart" data-id="3714">Заказать</button>
</td>
</tr>
</tbody>