<section class="main-slider">
  <ul class="main-slider__list">
    <li class="main-slider__item">
      <article class="main-slider__item-content slide-tmpl-1">
        <div class="slide-tmpl-1__picture">
          <img src="./images/bio-oss_0.5S.jpeg" alt="" class="slide-tmpl-1__picture-img">
        </div>
        <div class="slide-tmpl-1__content">
          <div class="slide-tmpl-1__text">
            <h2 class="slide-tmpl-1__title">Bio-Oss Spongiosa</h2>
            <div class="slide-tmpl-1__desc">
              <ul>
                <li>Очень комфортный в процессе работы</li>
                <li>Сокращает время операции</li>
                <li>Для труднодоступных дистальных отделов ротовой полости</li>
              </ul>
            </div>
          </div>
          <a href="./product-page.html" class="slide-tmpl-1__link">Подробнее</a>
        </div>
      </article>
    </li>
    <li class="main-slider__item">
      <article class="main-slider__item-content slide-tmpl-1">
        <div class="slide-tmpl-1__picture">
          <img src="./images/jasonmembrane1.jpg" alt="" class="slide-tmpl-1__picture-img">
        </div>
        <div class="slide-tmpl-1__content">
          <div class="slide-tmpl-1__text">
            <h2 class="slide-tmpl-1__title">Jason</h2>
            <div class="slide-tmpl-1__desc">
              <p>Самый широкий ассортимент материалов для различных клинических случаев. Лидер среди коллагановых мембран для тканевой регенерации.</p>
              <p>Более 10 лет на рынке. Проведено более 400 000 операций. Дистрибьюция в 40 странах мира.</p>
            </div>
          </div>
          <a href="./product-page.html" class="slide-tmpl-1__link">Подробнее</a>
        </div>
      </article>
    </li>
    <li class="main-slider__item">
      <div class="main-slider__item-content main-slider__item-content_3">3</div>
    </li>
  </ul>
  <div class="main-slider__nav">
    <div class="main-slider__nav-item"></div>
    <div class="main-slider__nav-item"></div>
    <div class="main-slider__nav-item"></div>
  </div>
</section>
